.container {
  border-radius: 7px;
  margin: 50px auto;
}

body {
  background-image: url("../images/bg.png");
}

.page-header {
  font-family: "Fugaz One", cursive;
  text-align: center;
}

.mainContent {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 16px; */
  text-align: center;
  margin: 0 auto;
}

h1 small {
  font-size: 60%;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}